html,body,ul,li,ol,img,a,p,div,form,input,header,span,h3,h1,h2,span,nav{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
}

a{
	text-decoration: none;
	color:black;
	-webkit-tap-highlight-color: transparent;
}
.clearfix:after{
	content:"";
	clear: both;
	display: block;	
}

